:root {
  --color-blue-dark: #67aefc;
  --color-blue-light: #daecff;
  --color-gray: #484848;
  --color-gray-dark: #111111;
  --color-green: #75e169;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 121.9rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  @screen <sm {
    padding: 0 2rem;

    &-header {
      padding: 0 1.2rem;
    }
  }
}

.title-1 {
}

.title-2 {
  font-weight: 800;
  font-size: 3.2rem;
  text-align: center;

  @screen <md {
    font-size: 2.3rem;
  }
}
