.btn {
  @apply uppercase font-bold text-1.5rem text-white
  rounded-0.5rem  bg-[var(--color-green)];

  transition: all 0.2s;

  @screen <sm {
    border-radius: 1rem;
  }

  &:hover {
    box-shadow: inset 0px 0px 0px 0.25rem var(--color-blue-dark);
  }

  &:active {
    color: #fff;
    background-color: var(--color-blue-dark);
  }

  &--hover-white {
    &:hover {
      box-shadow: inset 0px 0px 0px 0.25rem #fff;
    }

    &:active {
      background-color: #fff;
      color: var(--color-blue-dark);
    }
  }

  &--small {
    width: 17rem;
    height: 3.8rem;
    padding: 1.1rem 4rem;
  }

  &--big {
    min-width: 27rem;
    min-height: 6rem;
    padding: 2.2rem 5.6rem;

    @screen <sm {
      width: 100%;
      max-width: 34rem;
    }
  }
}

.title-1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 1.26;
  color: #484848;

  @screen <md {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.2;
  }

  @screen <sm {
    text-transform: uppercase;
  }
}

.title-2 {
  font-weight: 800;
  font-size: 3.2rem;
  text-align: center;

  @screen <md {
    font-size: 2.3rem;
  }
}
