.btn {
  @apply uppercase rounded-0.5rem  bg-[var(--color-green)] font-bold text-1.5rem text-white;

  transition: all 0.2s;

  &:hover {
    box-shadow: inset 0px 0px 0px 0.25rem var(--color-blue-dark);
  }

  &:active {
    color: #fff;
    background-color: var(--color-blue-dark);
  }

  &-white-hover {
    &:hover {
      box-shadow: inset 0px 0px 0px 0.25rem #fff;
    }

    &:active {
      background-color: #fff;
      color: var(--color-blue-dark);
    }
  }

  @screen <sm {
    border-radius: 1rem;
  }
}

.title-1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 1.26;
  color: #484848;

  @screen <md {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.2;
  }

  @screen <sm {
    text-transform: uppercase;
  }
}

.title-2 {
  font-weight: 800;
  font-size: 3.2rem;
  text-align: center;

  @screen <md {
    font-size: 2.3rem;
  }
}
