.slider {
  &__wrapper {
    overflow: hidden;
  }

  &__control {
    width: auto;
    height: auto;
    background-color: transparent;
    top: auto;
    border: 1px solid var(--color-blue-dark);
    padding: 1.6rem 2.3rem;
    border-radius: 1.5rem;
    bottom: 0;

    &:hover {
      background-color: var(--hover-bg);
    }
  }

  .left {
    left: calc(50% - 7.8rem);

    @screen <lg {
      left: calc(50% - 11.6rem);
    }

    &:before {
      height: 2.6rem;
      width: 1.4rem;
      background-size: 1.4rem;
      background-image: url("/arrow-left.svg");
    }
  }

  .right {
    right: calc(50% - 7.8rem);

    @screen <lg {
      right: calc(50% - 11.6rem);
    }

    &:before {
      height: 2.6rem;
      width: 1.4rem;
      background-size: 1.4rem;
      background-image: url("/arrow-right.svg");
    }
  }
}
