.header {
  color: white;
  padding: 1.8rem 0 1.8rem 0;
  position: relative;

  max-width: 100%;

  @screen <md {
    padding: 0;
  }

  &__logo {
    max-width: 24.1rem;

    @screen <md {
      max-width: 15.5rem;
    }
  }

  &__menu {
    transition: all 0.4s ease-in-out;
    z-index: 10;
    display: flex;
    gap: 3.55rem;
    align-items: stretch;
    font-size: 1.6rem;
    overflow: hidden;
    height: 5rem;
    font-weight: 600;

    @screen <lg {
      gap: 2.5rem;
    }
    @screen <md {
      font-size: 1.2rem;
    }

    @screen <sm {
      position: absolute;
      top: 4.4rem;
      left: 0;
      width: 100%;
      height: 0;

      padding-top: 0;
      padding-bottom: 0;
      background-color: var(--color-blue-dark);
      font-size: 1.7rem;
      font-weight: bold;
      align-items: center;
      flex-direction: column;
      gap: 4rem;
    }

    &--active {
      @screen <sm {
        height: 31.4rem;
        padding-bottom: 4rem;
        padding-top: 4rem;
      }
    }

    &-btn {
      margin-right: 0.8rem;
      padding: 2rem 0;
      display: flex;
      gap: 0.5rem;

      @screen sm {
        display: none;
      }

      span {
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
}

.menu {
  &__item {
    display: flex;
    align-items: center;
    a {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: all 0.4s;
      }
    }
    &:hover {
      a {
        &:after {
          width: 100%;
        }
      }
    }
  }
}
