.more-info {
  padding: 20.8rem 0 10rem 0;
  position: relative;
  overflow: hidden;

  @screen <lg {
    padding: 4.3rem 0 5rem 0;
  }

  .circle {
    position: absolute;
    top: 15rem;
    left: 15rem;
    width: 6rem;
    height: 6rem;

    @screen <2xl {
      display: none;
    }
  }

  &__title {
    text-align: left;
    margin-bottom: 4.8rem;

    @screen <lg {
      margin-bottom: 2rem;
    }

    @screen <md {
      text-align: center;
      margin-bottom: 2.3rem;
    }
  }

  &__desc {
    font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 5.2rem;

    @screen <lg {
      line-height: 1.7;
      font-size: 1.7rem;
    }
  }

  &__mobile-img {
    margin-left: auto;
    margin-right: auto;
    width: 78%;
    margin-bottom: 3.1rem;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__desk-img {
    margin-right: -23rem;
    position: relative;
    height: auto;
    padding-top: 0.4rem;
    flex: 0 0 59%;

    @screen <lg {
      margin-right: -10rem;
    }

    @screen <md {
      display: none;
    }
  }

  .circles {
    position: absolute;
    top: -7.7rem;
    right: 16.5rem;

    @screen <lg {
      top: -2.7rem;
    }

    @screen <md {
      height: 2rem;
      z-index: -1;
      top: 6%;
      right: 38%;
    }
  }
  .order {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
