.services {
  padding: 11.4rem 0;
  font-size: 1.8rem;
  position: relative;

  @screen <md {
    font-size: 1.7rem;
    padding: 1.5rem 0 3rem 0;
  }

  .bag {
    position: absolute;
    height: 15rem;
    width: 13.3rem;
    right: 5rem;
    top: 46rem;
    @screen <2xl {
      display: none;
    }
  }

  &__card {
    background-color: #fff;
    padding: 0.3rem 3.2rem;
    border-radius: 15px;

    @screen <md {
      padding: 0.4rem 1.5rem;
      border-radius: 1rem;
    }

    &:hover {
      .services__card-icon {
        position: relative;
        background-color: rgba(#000, 0.15);

        @supports (-webkit-mask-image: url()) {
          background-color: var(--color-blue-dark);
          img {
            opacity: 0;
          }
          &:after {
            content: "";
            position: absolute;
            top: 2rem;
            height: 1.4rem;
            left: 1rem;
            right: 1rem;
            width: 2.4rem;
            transition: all 0.3s;

            -webkit-mask-image: url(/services/arrow.svg);
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
            background-color: white;
          }
        }
      }
    }

    &--active {
      .circle {
        background-color: var(--color-blue-dark);
      }

      .services__card-title {
        font-size: 2.1rem;
        font-weight: 700;
        margin: 0.9rem 0;

        @screen <md {
          font-size: 1.7rem;
          margin: 1.2rem 0;
        }
      }

      .services__card-icon {
        img {
          transform: scale(-1);
        }

        &:after {
          transform: rotate(180deg);
        }
      }
      .services__card-body {
        height: auto;
      }
    }
    &--disabled {
      .circle {
        background-color: var(--color-green);
      }

      .services__card-body {
        height: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &:not(&:last-child) {
      margin-bottom: 1rem;
      @screen <md {
        margin-bottom: 1rem;
      }
    }

    &-body {
      overflow: hidden;
      transition: all 0.3s ease-in-out;

      border-left: 1px solid #000;
      padding: 0 3.8rem;
      line-height: 1.8;
      margin: 2.6rem 2.4rem 4.5rem 2.4rem;

      @screen <md {
        margin: 0.6rem 0 4.5rem 1.6rem;
        padding: 0 0 0 2.4rem;
      }
    }

    &-header {
      display: flex;
    }

    &-title {
      margin: 1.2rem 0;
      line-height: 1.7;
    }

    .circle {
      flex-shrink: 0;

      height: 2.4rem;
      width: 2.4rem;
      border-radius: 50%;

      margin: 1.5rem 2.7rem 1.3rem 1.2rem;

      @screen <md {
        margin: 1.9rem 1.7rem 1.9rem 0.9rem;
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &-icon {
      margin-left: auto;
      flex-shrink: 0;
      transition: all 0.3s;
      border-radius: 1rem;

      padding: 2rem 1rem;
      img {
        width: 2.4rem;
        height: 1.3rem;
      }
    }
  }
}
